<!-- Add Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<!-- Add Register Form-->
<form id="register-form" class="input-form" action="/account/register" method="post">
    <span class="required-info">All fields are required</span>
    <fieldset>
        <!-- <legend></legend> -->
        <label for="account-firstname">First name:
            <input type="text" name="account_firstname" id="account-firstname" title="Enter your first name" placeholder="Enter first name" required value="<%= locals.account_firstname %>">
        </label>
        <label for="account-lastname">Last name:
            <input type="text" name="account_lastname" id="account-lastname" title="Enter your last name" placeholder="Enter last name" required value="<%= locals.account_lastname %>">
        </label>
        <label for="account-email">Email:
            <input type="email" name="account_email" id="account-email" title="Enter your email address" placeholder="Enter email address" required value="<%= locals.account_email %>">
        </label>
        <label for="account-password">Password:
            <span class="pwrd-input">
                <input type="password" name="account_password" id="account-password" title="Enter your password" placeholder="Enter password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <img id="pswdBtn" src="/images/site/eye-close.webp" alt="icon for display/hide password button">
            </span>
            <span class="required-pattern-info">Password must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</span>
        </label>
    </fieldset>
    <input class="submitButton" type="submit" value="Register">
</form>

<script src="../../js/show-hide-password.js"></script>